
.container {
  padding: 20px;
  padding-top: 50vh;
  background-color: black;
  
}

#scroll-paragraph {
  font-size: 54px;
  
}

#scroll-paragraph span {
  /* transition: color 0.3s ease;  */
  /* Smooth color transition */
}
